body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 36px;
	font-weight: bold;
	margin: auto;
	color: black;
	text-align: center;
}

.nav {
	border: 1px solid red;
	background-color: #333;
	overflow: hidden;
}

.nav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
	background-color: #ddd;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.col {
	display: flex;
	flex-direction: col;
	flex-basis: 100%;
	flex: 1;
}

.day {
	background-color: #c0c0c0;
	height: 500px;
	margin: 0px 0px;
	border: 1px solid red;
}

#link {
	display: absolute;
	top: 10px;
	left: 10px;
	color: white;
}
